        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #4CAF50;
            color: white;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #ddd;
        }


        .edit-form {
            display: none;
            margin-top: 10px;
            padding: 10px;
            border: 1px solid #4CAF50;
            border-radius: 8px;
            background: #f9f9f9;
        }
    .save-btn {
            background: #4CAF50;
            color: white;
            border: none;
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
        }

    .cancel-btn {
                background: #aaa;
                color: white;
                border: none;
                padding: 5px 10px;
                border-radius: 5px;
                cursor: pointer;
            }
    
       
    .ekle-container {
        text-align: right;           /* Sağ tarafa hizala */
        border: 2px solid #4CAF50;   /* Çerçeve rengi */
        padding: 5px 10px;           /* İç boşluk */
        display: inline-block;        /* Sadece butonu kapsayacak */
        border-radius: 8px;           /* Köşeleri yuvarlat */
        margin-bottom: 10px;
    }

    .top-bar {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
    }
.btn {
    text-decoration: none; /* altı çizgiyi kaldırır */
    font-size: 16px;
    padding: 8px 15px;
    border-radius: 6px;
    background-color:  #4CAF50;
    color: white;
    display: inline-flex; /* yazı + ikon hizalama */
    align-items: center;
    justify-content: center;
    height: 40px;
}

    .search-bar input,
    .search-bar button {
        font-size: 16px;
        padding: 8px 15px;
        border: none;
        border-radius: 6px;
        background-color: #4CAF50; 
        color: white;
        cursor: pointer;
        height: 40px; /* hepsini aynı yükseklikte yapar */
    }

    .search-bar {
        width: 40%;
        display: flex;
        align-items: center;
        position: relative; /* öneri kutusu için */
    }

    .search-bar input {
        flex: 1;
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 6px;
        outline: none;
    }

    .search-bar button {
        border-radius: 6px;
    }

    .btn img {
        vertical-align: middle;
        margin-left: 5px;
    }

    .search-category {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: white;
    color: black;
    height: 40px;
}
